[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	st = status
	cp = cherry-pick
	cm = commit -m
[user]
#	name =
#	email =
	signingkey = 28031158FFDD6853
[commit]
	gpgsign = true
